.formulario{
    color: brown;
    font-weight: bold;
    padding-left: 15px;
}

h2{
    color: red;
    text-emphasis: 5;
    padding-left: 14%;
}

input{
    color: blue;
    /*left: 25px;
    top: 14px;*/
    width: 250px;
    /*height: 36px;*/
}

input[type=button]{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    margin-left: 30px;
}

a{
    padding: 2%;
    font-size:20px;
    color:#100;
}